.todo{
background-color: yellow;
height: 3em;
max-width: 100%;
font-size: 120%;

}

footer {
  height: 4em;
  max-width: 100%;
  background-color: red;
  font-size: 190%;
}

hr {
  height: 5px;
}
 .discos{
   background-color: green;
 }

 .usuarios{
   background-color: blueviolet;
 }

 .locales{
        background-color: white;
 }

 .nav{
      background-color: rgb(255, 0, 191);

 }

 .acceso{
   background-color: blue;
 }

 .registro{
   background-color: cyan;
 }